<a href="https://colab.research.google.com/github/Neeraj2308/Big-Data-Analysis-2021/blob/main/panda_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [7]:
url = "https://raw.githubusercontent.com/Neeraj2308/Big-Data-Analysis-2021/main/Data_pd.csv"

In [9]:
df = pd.read_csv(url)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Duration   32 non-null     int64
 1   Date       31 non-null     object
 2   Pulse      32 non-null     int64
 3   Max Pulse  32 non-null     int64
 4   Calories   30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB

In [12]:
df.head()

   Duration          Date  Pulse  Max Pulse  Calories
0        60  '2020/12/01'    110        130     409.1
1        60  '2020/12/02'    117        145     479.0
2        60  '2020/12/03'    103        135     340.0
3        45  '2020/12/04'    109        175     282.4
4        45  '2020/12/05'    117        148     406.0

In [13]:
df.tail()

    Duration          Date  Pulse  Max Pulse  Calories
27        60  '2020/12/27'     92        118     241.0
28        60  '2020/12/28'    103        132       NaN
29        60  '2020/12/29'    100        132     280.0
30        60  '2020/12/30'    102        129     380.3
31        60  '2020/12/31'     92        115     243.0

In [15]:
df

    Duration          Date  Pulse  Max Pulse  Calories
0         60  '2020/12/01'    110        130     409.1
1         60  '2020/12/02'    117        145     479.0
2         60  '2020/12/03'    103        135     340.0
3         45  '2020/12/04'    109        175     282.4
4         45  '2020/12/05'    117        148     406.0
5         60  '2020/12/06'    102        127     300.0
6         60  '2020/12/07'    110        136     374.0
7        450  '2020/12/08'    104        134     253.3
8         30  '2020/12/09'    109        133     195.1
9         60  '2020/12/10'     98        124     269.0
10        60  '2020/12/11'    103        147     329.3
11        60  '2020/12/12'    100        120     250.7
12        60  '2020/12/12'    100        120     250.7
13        60  '2020/12/13'    106        128     345.3
14        60  '2020/12/14'    104        132     379.3
15        60  '2020/12/15'     98        123     275.0
16        60  '2020/12/16'     98        120     215.2
17        60  '2020/12/17'    100        120     300.0
18        45  '2020/12/18'     90        112       NaN
19        60  '2020/12/19'    103        123     323.0
20        45  '2020/12/20'     97        125     243.0
21        60  '2020/12/21'    108        131     364.2
22        45           NaN    100        119     282.0
23        60  '2020/12/23'    130        101     300.0
24        45  '2020/12/24'    105        132     246.0
25        60  '2020/12/25'    102        126     334.5
26        60      26/12/20    100        120     250.0
27        60  '2020/12/27'     92        118     241.0
28        60  '2020/12/28'    103        132       NaN
29        60  '2020/12/29'    100        132     280.0
30        60  '2020/12/30'    102        129     380.3
31        60  '2020/12/31'     92        115     243.0

In [16]:
#dropping NA's values
df.dropna()

    Duration          Date  Pulse  Max Pulse  Calories
0         60  '2020/12/01'    110        130     409.1
1         60  '2020/12/02'    117        145     479.0
2         60  '2020/12/03'    103        135     340.0
3         45  '2020/12/04'    109        175     282.4
4         45  '2020/12/05'    117        148     406.0
5         60  '2020/12/06'    102        127     300.0
6         60  '2020/12/07'    110        136     374.0
7        450  '2020/12/08'    104        134     253.3
8         30  '2020/12/09'    109        133     195.1
9         60  '2020/12/10'     98        124     269.0
10        60  '2020/12/11'    103        147     329.3
11        60  '2020/12/12'    100        120     250.7
12        60  '2020/12/12'    100        120     250.7
13        60  '2020/12/13'    106        128     345.3
14        60  '2020/12/14'    104        132     379.3
15        60  '2020/12/15'     98        123     275.0
16        60  '2020/12/16'     98        120     215.2
17        60  '2020/12/17'    100        120     300.0
19        60  '2020/12/19'    103        123     323.0
20        45  '2020/12/20'     97        125     243.0
21        60  '2020/12/21'    108        131     364.2
23        60  '2020/12/23'    130        101     300.0
24        45  '2020/12/24'    105        132     246.0
25        60  '2020/12/25'    102        126     334.5
26        60      26/12/20    100        120     250.0
27        60  '2020/12/27'     92        118     241.0
29        60  '2020/12/29'    100        132     280.0
30        60  '2020/12/30'    102        129     380.3
31        60  '2020/12/31'     92        115     243.0

In [18]:
#dropping NA values from specific colum
df.dropna(subset=["Calories"])

    Duration          Date  Pulse  Max Pulse  Calories
0         60  '2020/12/01'    110        130     409.1
1         60  '2020/12/02'    117        145     479.0
2         60  '2020/12/03'    103        135     340.0
3         45  '2020/12/04'    109        175     282.4
4         45  '2020/12/05'    117        148     406.0
5         60  '2020/12/06'    102        127     300.0
6         60  '2020/12/07'    110        136     374.0
7        450  '2020/12/08'    104        134     253.3
8         30  '2020/12/09'    109        133     195.1
9         60  '2020/12/10'     98        124     269.0
10        60  '2020/12/11'    103        147     329.3
11        60  '2020/12/12'    100        120     250.7
12        60  '2020/12/12'    100        120     250.7
13        60  '2020/12/13'    106        128     345.3
14        60  '2020/12/14'    104        132     379.3
15        60  '2020/12/15'     98        123     275.0
16        60  '2020/12/16'     98        120     215.2
17        60  '2020/12/17'    100        120     300.0
19        60  '2020/12/19'    103        123     323.0
20        45  '2020/12/20'     97        125     243.0
21        60  '2020/12/21'    108        131     364.2
22        45           NaN    100        119     282.0
23        60  '2020/12/23'    130        101     300.0
24        45  '2020/12/24'    105        132     246.0
25        60  '2020/12/25'    102        126     334.5
26        60      26/12/20    100        120     250.0
27        60  '2020/12/27'     92        118     241.0
29        60  '2020/12/29'    100        132     280.0
30        60  '2020/12/30'    102        129     380.3
31        60  '2020/12/31'     92        115     243.0

In [42]:
#DataFrame.loc â€“ Replace Values in Column based on Condition
#DataFrame.loc[condition, column_name] = new_value

In [58]:
df.loc[df["Duration"] > 50, ("Pulse")] = 99
df.loc[df["Duration"] > 50, "Duration"] = 100

In [59]:
df = pd.read_csv(url)

In [60]:
df

    Duration          Date  Pulse  Max Pulse  Calories
0         60  '2020/12/01'    110        130     409.1
1         60  '2020/12/02'    117        145     479.0
2         60  '2020/12/03'    103        135     340.0
3         45  '2020/12/04'    109        175     282.4
4         45  '2020/12/05'    117        148     406.0
5         60  '2020/12/06'    102        127     300.0
6         60  '2020/12/07'    110        136     374.0
7        450  '2020/12/08'    104        134     253.3
8         30  '2020/12/09'    109        133     195.1
9         60  '2020/12/10'     98        124     269.0
10        60  '2020/12/11'    103        147     329.3
11        60  '2020/12/12'    100        120     250.7
12        60  '2020/12/12'    100        120     250.7
13        60  '2020/12/13'    106        128     345.3
14        60  '2020/12/14'    104        132     379.3
15        60  '2020/12/15'     98        123     275.0
16        60  '2020/12/16'     98        120     215.2
17        60  '2020/12/17'    100        120     300.0
18        45  '2020/12/18'     90        112       NaN
19        60  '2020/12/19'    103        123     323.0
20        45  '2020/12/20'     97        125     243.0
21        60  '2020/12/21'    108        131     364.2
22        45           NaN    100        119     282.0
23        60  '2020/12/23'    130        101     300.0
24        45  '2020/12/24'    105        132     246.0
25        60  '2020/12/25'    102        126     334.5
26        60      26/12/20    100        120     250.0
27        60  '2020/12/27'     92        118     241.0
28        60  '2020/12/28'    103        132       NaN
29        60  '2020/12/29'    100        132     280.0
30        60  '2020/12/30'    102        129     380.3
31        60  '2020/12/31'     92        115     243.0

In [61]:
#second method to replace value using numpy
#DataFrame['column_name'] = numpy.where(condition, new_value, DataFrame.column_name)

np.where(df["Duration"] > 100)

(array([7]),)

In [63]:
np.where(df["Duration"] > 100, 100, df.Duration)

array([ 60,  60,  60,  45,  45,  60,  60, 100,  30,  60,  60,  60,  60,
        60,  60,  60,  60,  60,  45,  60,  45,  60,  45,  60,  45,  60,
        60,  60,  60,  60,  60,  60])

In [65]:
df.Duration = np.where(df["Duration"] > 100, 100, df.Duration)

In [68]:
#sort values

In [71]:
df.sort_values(by = ["Duration", "Calories"], inplace = True)

In [72]:
df

    Duration          Date  Pulse  Max Pulse  Calories
8         30  '2020/12/09'    109        133     195.1
20        45  '2020/12/20'     97        125     243.0
24        45  '2020/12/24'    105        132     246.0
22        45           NaN    100        119     282.0
3         45  '2020/12/04'    109        175     282.4
4         45  '2020/12/05'    117        148     406.0
18        45  '2020/12/18'     90        112       NaN
16        60  '2020/12/16'     98        120     215.2
27        60  '2020/12/27'     92        118     241.0
31        60  '2020/12/31'     92        115     243.0
26        60      26/12/20    100        120     250.0
11        60  '2020/12/12'    100        120     250.7
12        60  '2020/12/12'    100        120     250.7
9         60  '2020/12/10'     98        124     269.0
15        60  '2020/12/15'     98        123     275.0
29        60  '2020/12/29'    100        132     280.0
5         60  '2020/12/06'    102        127     300.0
17        60  '2020/12/17'    100        120     300.0
23        60  '2020/12/23'    130        101     300.0
19        60  '2020/12/19'    103        123     323.0
10        60  '2020/12/11'    103        147     329.3
25        60  '2020/12/25'    102        126     334.5
2         60  '2020/12/03'    103        135     340.0
13        60  '2020/12/13'    106        128     345.3
21        60  '2020/12/21'    108        131     364.2
6         60  '2020/12/07'    110        136     374.0
14        60  '2020/12/14'    104        132     379.3
30        60  '2020/12/30'    102        129     380.3
0         60  '2020/12/01'    110        130     409.1
1         60  '2020/12/02'    117        145     479.0
28        60  '2020/12/28'    103        132       NaN
7        100  '2020/12/08'    104        134     253.3

In [77]:
#replacing NA values using condition
df.loc[df["Calories"].isna(), "Calories"] = 9999

In [83]:
#replacing NA values using fillna method
df = pd.read_csv(url)

In [81]:

df.Calories.fillna(10000, inplace = True)

In [82]:
df.Calories = df.Calories.fillna(1000)

In [ ]:
df["Calories"] = df["Calores"].fillna(1000)

In [84]:
df["Calories"].fillna(df.Calories.mean(), inplace = True)

In [85]:
df

    Duration          Date  Pulse  Max Pulse  Calories
0         60  '2020/12/01'    110        130    409.10
1         60  '2020/12/02'    117        145    479.00
2         60  '2020/12/03'    103        135    340.00
3         45  '2020/12/04'    109        175    282.40
4         45  '2020/12/05'    117        148    406.00
5         60  '2020/12/06'    102        127    300.00
6         60  '2020/12/07'    110        136    374.00
7        450  '2020/12/08'    104        134    253.30
8         30  '2020/12/09'    109        133    195.10
9         60  '2020/12/10'     98        124    269.00
10        60  '2020/12/11'    103        147    329.30
11        60  '2020/12/12'    100        120    250.70
12        60  '2020/12/12'    100        120    250.70
13        60  '2020/12/13'    106        128    345.30
14        60  '2020/12/14'    104        132    379.30
15        60  '2020/12/15'     98        123    275.00
16        60  '2020/12/16'     98        120    215.20
17        60  '2020/12/17'    100        120    300.00
18        45  '2020/12/18'     90        112    304.68
19        60  '2020/12/19'    103        123    323.00
20        45  '2020/12/20'     97        125    243.00
21        60  '2020/12/21'    108        131    364.20
22        45           NaN    100        119    282.00
23        60  '2020/12/23'    130        101    300.00
24        45  '2020/12/24'    105        132    246.00
25        60  '2020/12/25'    102        126    334.50
26        60      26/12/20    100        120    250.00
27        60  '2020/12/27'     92        118    241.00
28        60  '2020/12/28'    103        132    304.68
29        60  '2020/12/29'    100        132    280.00
30        60  '2020/12/30'    102        129    380.30
31        60  '2020/12/31'     92        115    243.00

In [92]:
#getting column names
list(df.columns)

['Duration', 'Date', 'Pulse', 'Max Pulse', 'Calories']

In [103]:
#getting date in proper format
df.Date = pd.to_datetime(df.Date)

In [100]:
df.loc[df.Date.isna(), "Date"] = "2020/12/31"

    Duration       Date  Pulse  Max Pulse  Calories
0         60 2020-12-01    110        130    409.10
1         60 2020-12-02    117        145    479.00
2         60 2020-12-03    103        135    340.00
3         45 2020-12-04    109        175    282.40
4         45 2020-12-05    117        148    406.00
5         60 2020-12-06    102        127    300.00
6         60 2020-12-07    110        136    374.00
7        450 2020-12-08    104        134    253.30
8         30 2020-12-09    109        133    195.10
9         60 2020-12-10     98        124    269.00
10        60 2020-12-11    103        147    329.30
11        60 2020-12-12    100        120    250.70
12        60 2020-12-12    100        120    250.70
13        60 2020-12-13    106        128    345.30
14        60 2020-12-14    104        132    379.30
15        60 2020-12-15     98        123    275.00
16        60 2020-12-16     98        120    215.20
17        60 2020-12-17    100        120    300.00
18        45 2020-12-18     90        112    304.68
19        60 2020-12-19    103        123    323.00
20        45 2020-12-20     97        125    243.00
21        60 2020-12-21    108        131    364.20
22        45 2020-12-31    100        119    282.00
23        60 2020-12-23    130        101    300.00
24        45 2020-12-24    105        132    246.00
25        60 2020-12-25    102        126    334.50
26        60 2020-12-26    100        120    250.00
27        60 2020-12-27     92        118    241.00
28        60 2020-12-28    103        132    304.68
29        60 2020-12-29    100        132    280.00
30        60 2020-12-30    102        129    380.30
31        60 2020-12-31     92        115    243.00