In [8]:
a = input("Enter your fav number: ")

Enter your fav number: 99.9999

In [2]:
a

'23.45'

In [3]:
type(a)

str

In [5]:
float(a) * 10

234.5

In [6]:
int(a)

ValueError: invalid literal for int() with base 10: '23.45'

In [9]:
# number -> Float -> Integer
#int(number) removes the digits after the decimal
int(float(a))

99

In [ ]:
#logical statement (Test)
#True False

In [11]:
12 > 34

False

In [12]:
23 > 12

True

In [13]:
23 > 23

False

In [14]:
23 >= 23

True

In [15]:
23 < 12

False

In [16]:
12 < 23

True

In [17]:
12 <= 23

True

In [19]:
23 == 23

True

In [28]:
hitesh = 12
hitesh == 12

True

In [30]:
int("12") == 12

True

In [33]:
a124 = 12
lt = a124 == 14
print(lt)

False

In [34]:
12 != 14

True

In [35]:
12 != 12

False

In [36]:
"Tejas" == "tejas"

False

In [37]:
"Tejas" != "tejasvi"

True

In [38]:
# < <= > >= == !=

In [40]:
tejas = "Tejas"

In [41]:
tejas == "Tejas"

True

In [42]:
"abc" > "abd"

False

In [43]:
"af" > "aaaaz"

True

In [ ]:
#Conditional statement

In [47]:
if 12 > 11:
    print("Hello Hitesh")
    print("Hello Tejdeep")
    print("Hello Aditi")

Hello Hitesh
Hello Tejdeep
Hello Aditi