# Tuple

### Creating Tuple
A tuple is an ordered sequence of elements of different data types, such as integer, float, string, list or even a tuple. Elements of a tuple are enclosed in parenthesis (round brackets) and are separated by commas.

In [1]:
t = (1, 4, 6, 9, 20)

In [2]:
t

(1, 4, 6, 9, 20)

In [3]:
type(t)

tuple

In [4]:
t2 = 1, 2, 5, 19, 29

In [5]:
t2

(1, 2, 5, 19, 29)

#### Tuples are immutable
Tuple is an immutable data type. It means that the elements of a tuple cannot be changed after it has been created. An attempt to do this would lead to an error.

In [7]:
t2[0] = "Tanya"

TypeError: 'tuple' object does not support item assignment

### Creating multiple variables

In [9]:
a, b, c = (1, 2, 3), ["Tejdeep", "Bhavneet", "Udit"], 12.45

In [10]:
a

(1, 2, 3)

In [11]:
b

['Tejdeep', 'Bhavneet', 'Udit']

In [12]:
c

12.45

### Tuple OperatIons

#### Concatenation
Python allows us to join tuples using concatenation operator depicted by symbol +. We can also create a new tuple which contains the result of this concatenation operation.

In [16]:
t + t2

(1, 4, 6, 9, 20, 1, 2, 5, 19, 29)

#### Repetition
Repetition operation is depicted by the symbol *. It is used to repeat elements of a tuple. We can repeat the tuple elements. The repetition operator requires the first operand to be a tuple and the second operand to be an integer only.

In [17]:
t * 4

(1, 4, 6, 9, 20, 1, 4, 6, 9, 20, 1, 4, 6, 9, 20, 1, 4, 6, 9, 20)

### Working on the Problems

#### Question 1: Arrange q1 in ascending order on the basis of len.

In [24]:
q1 = ["Tanya", "Pratyush", "Vaagisha", "Karanvir", "Harjyoy", "Prabhjee"]

In [27]:
q1.sort(key = len)

In [28]:
q1

['Tanya', 'Harjyoy', 'Karanvir', 'Prabhjee', 'Pratyush', 'Vaagisha']