## Built-in functions for list manipulations

In [4]:
a = [1, 2, 4, 6]

### 1.  `append`
Appends a single element passed as an argument at the end of the list.

The single element can also be a list

In [9]:
a.append(7)
print(a)

[1, 2, 4, 6, 7, [12, 23], [12, 23], 7]

In [11]:
a.append([12, 23])
print(a)

[1, 2, 4, 6, 7, [12, 23], [12, 23], 7, [12, 23], [12, 23]]

### 2. `extend`
Appends each element of the list passed as argument to the end of the given list

In [13]:
b = ["Hitesh", "Arnav", "kanshik"]
c = ["PC", "AB", "KF"]

In [14]:
b.extend(c)

In [15]:
b

['Hitesh', 'Arnav', 'kanshik', 'PC', 'AB', 'KF']

### 3. `pop` 
Returns the element whose index is passed as parameter to this function and also removes it from the list. If no parameter is given, then it returns and removes the last element of the list

In [18]:
b.pop(0)

'Arnav'

In [19]:
b

['kanshik', 'PC', 'AB', 'KF']

### 4. `del`

In [37]:
b  = [1, 2, 3, 4, 5, 6, 7]
del b[0:2]

In [38]:
b

[6, 7]

### 5. `sort`
Sorts the elements of the given list in-place

In [20]:
rm = [1, 2, 4, 2, 5, 5, 1, 10, 53, 12, 42]

In [21]:
rm.sort()

In [22]:
rm

[1, 1, 2, 2, 4, 5, 5, 10, 12, 42, 53]

In [23]:
rm.sort(reverse = True)

In [24]:
rm

[53, 42, 12, 10, 5, 5, 4, 2, 2, 1, 1]

### 5. `remove`

In [49]:
a = ["Arnav", "Hitesh", "AB", "Hitesh"]

In [50]:
a.remove("Hitesh")

In [51]:
a

['Arnav', 'AB', 'Hitesh']

### 6. `split`

In [25]:
c = "Udit Aggarwal"
c.split()

['Udit', 'Aggarwal']

In [26]:
usep = c.split(sep = "a")

In [27]:
usep

['Udit Agg', 'rw', 'l']

In [28]:
names = "Arnav-Hitesh-Udit"
names.split(sep = "-")

['Arnav', 'Hitesh', 'Udit']

## Working on the Problem

#### Problem 1: Define a function that remove desired elements from the list by indices given in a list.

In [29]:
#Udit
#Algorithm Credit: Hitesh
b = [1,2,3,4,5,6]
rm = [2,3,4]
def remove(ls,rm):
    rm.sort(reverse = True)
    for i in rm:
        ls.pop(i)
    return(ls)

In [30]:
ls = ["A", "B", "C", "D", "E", "F", "G"]\
#remove second, third, and 5th element
remove(ls, [1, 2, 4])

['A', 'D', 'F', 'G']

#### Problem 2: Get the numbers from the list `num` in int type
`num = "12, 34  , 56,  45,  12, 34, 90, 340  , 13"`

In [34]:
num = "12, 34  , 56,  45,  12, 34, 90, 340  , 13"

In [35]:
num2 = list()

for i in num.split(sep = ","):
    num2.append(int(i))

print(num2)

[12, 34, 56, 45, 12, 34, 90, 340, 13]

#### Problem 3: Multiply every number in the list by 2. 
`ls = [1, 2, 5, 6, 7, 9]`

In [2]:
ls = [1, 2, 5, 6, 7, 9]
ls2 = [] #empty list to store output
for i in ls:
    ls2.append(i*2)
print(ls2)

[2, 4, 10, 12, 14, 18]