# List

Creating list

In [4]:
ls = [12, 34, 67, 90, 20, 24, 26, 45, 78]

In [5]:
ls

[12, 34, 67, 90, 20, 24, 26, 45, 78]

In [6]:
type(ls)

list

## Checking number of elements in list

In [7]:
len(ls)

9

## Slicing: Same as string

In [9]:
ls[0]

12

In [10]:
ls[4:]

[20, 24, 26, 45, 78]

In [11]:
ls[-1]

78

## List with multiple types of elements

In [16]:
ls1 = [12, 34.12, "Shrey Gupta", True]

In [17]:
ls1

[12, 34.12, 'Shrey Gupta', True]

## Nested list

In [18]:
ls2 = [12, 45, ["Hardik","Kanishk", "Gursimran", "Aditi","Muskaan"], 12.43, 
      ["Gupta", "Kaur", "Singh", "Pandit"], True]

In [19]:
ls2

[12,
 45,
 ['Hardik', 'Kanishk', 'Gursimarn', 'Aditi', 'Muskaan'],
 12.43,
 ['Gupta', 'Kaur', 'Singh', 'Pandit'],
 True]

In [20]:
len(ls2)

6

In [22]:
ls2[2][1]

'Kanishk'

## Empty List

### Method 1

In [23]:
lse1 = []

In [24]:
len(lse1)

0

### Method 2

In [28]:
lse2 = list()

In [29]:
lse2

[]

In [30]:
len(lse2)

0

## `loop` over the `list`

In [31]:
ls

[12, 34, 67, 90, 20, 24, 26, 45, 78]

In [32]:
for i in ls:
    print(i)

12
34
67
90
20
24
26
45
78

In [33]:
for i in ls2:
    print(i)

12
45
['Hardik', 'Kanishk', 'Gursimarn', 'Aditi', 'Muskaan']
12.43
['Gupta', 'Kaur', 'Singh', 'Pandit']
True

### Range

In [44]:
list(range(0, 10, 1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [46]:
for i in range(len(ls)):
    print(ls[i])

12
34
67
90
20
24
26
45
78

In [45]:
list(range(len(ls)))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [48]:
ls

[12, 34, 67, 90, 20, 24, 26, 45, 78]

## Lists are mutable

In [49]:
ls

[12, 34, 67, 90, 20, 24, 26, 45, 78]

In [50]:
ls[1] = 999

In [51]:
ls

[12, 999, 67, 90, 20, 24, 26, 45, 78]

In [52]:
type(lse2)

list

## Mathematical operators over the `list`

In [54]:
ls * 2

[12, 999, 67, 90, 20, 24, 26, 45, 78, 12, 999, 67, 90, 20, 24, 26, 45, 78]

In [58]:
["Arnav", "Kansihk"]*2

['Arnav', 'Kansihk', 'Arnav', 'Kansihk']

In [59]:
ls

[12, 999, 67, 90, 20, 24, 26, 45, 78]

In [60]:
ls2

[12,
 45,
 ['Hardik', 'Kanishk', 'Gursimarn', 'Aditi', 'Muskaan'],
 12.43,
 ['Gupta', 'Kaur', 'Singh', 'Pandit'],
 True]

In [62]:
(ls + ls2)*2

[12,
 999,
 67,
 90,
 20,
 24,
 26,
 45,
 78,
 12,
 45,
 ['Hardik', 'Kanishk', 'Gursimarn', 'Aditi', 'Muskaan'],
 12.43,
 ['Gupta', 'Kaur', 'Singh', 'Pandit'],
 True,
 12,
 999,
 67,
 90,
 20,
 24,
 26,
 45,
 78,
 12,
 45,
 ['Hardik', 'Kanishk', 'Gursimarn', 'Aditi', 'Muskaan'],
 12.43,
 ['Gupta', 'Kaur', 'Singh', 'Pandit'],
 True]

In [63]:
ls

[12, 999, 67, 90, 20, 24, 26, 45, 78]

In [64]:
a = ()

In [65]:
a

()

In [66]:
type(a)

tuple

In [67]:
a = (12)

In [68]:
a

12

In [69]:
type(a)

int

### Multiply each element of `ls` by 2

In [73]:
##by Aditi
lse = []
ls = [12,34,57,10,5,7,9,30,25]
for i in range(len(ls)):
    lse = lse + [ls[i]*2]

In [74]:
lse

[24, 68, 114, 20, 10, 14, 18, 60, 50]